

.button {
    font-family: 'Walter Turncoat',
    cursive;

    z-index: 30;
padding: 10px 20px;
    color: white;

    font-size: 1rem;

    width: 127px;

    height: 40px;

    background: #08fded;

    margin:  auto;
}

