// * {border: 1px solid red;}


// global
* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    
}

section {
    width: 100%;
}

// img {
//     width: 100%;
// }

h1,h2,h3,h4 {
    font-family: 'Walter Turncoat',
        cursive;
   
    color: white;
    
}

h1 {
font-size: 6rem;
}

h2 {
    
    font-size: 3rem;
}

h3 {
  
    font-size: 2rem;
}

h4 {
   
    font-size: 1rem;
}

p {
    font-family: 'Roboto',
    sans-serif;
    font-size: 0.9rem;
}






// header
nav {
    font-family: 'Roboto',
    sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 2% 0;
    ul {
        display: flex;
        li {
                justify-content: space-around;
                list-style: none;
                display: inline-block;
                padding-left: 5%;
                

            a {
                color: white;
                text-decoration: none;
            }
        }
    
    }

}



header {
    height: 100vh;
    background: #03697c;
    
}

header .backgroundHero {
    border: 1px solid red;
    background-image: url("../assets/home-header.jpg");
    height: 80vh;
   width: 100%;
}



.wrapperHero {
display: flex;
width: 100%;
position: relative;

   h1 {
       width: 50%;
       flex-shrink: 1;
       align-self: flex-end;
       margin-top: 10%;
margin-left: 10%;
   }

    .hero {
        width: 50%;
        flex-grow: 1;
position: absolute;
right: -74px;
top: 26px;
    

    img {
        width: 100%;
        max-width: 600px;
        }
    }
}

section.headings {
    background: #03697c;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10%;
    .topPosts {
        display: flex;
        .headingPost {
            width: 50%;
            
        p {
            width: 50%;
        }
        }
        
    }
    
}

.iconBox {
            background: #08fded;
            border-radius: 50%;
            font-size: 2rem;
            padding: 8px;
            width: 10%;

text-align: center;
        }

 .posts {
    background: #474bb5;
    display:flex;
    flex-wrap: wrap;
    padding: 10% 0;



    img {
        width: 100%;
        max-width: 70%;
        
    }

    .postImageLeftHolder {
        width: 50%;
        order: 1;
        position: relative;
    }
    .postText {
        width: 50%;
    }

    .postImageLeft {
 -webkit-box-shadow: 22px 22px 0px -5px rgba(8,253,237,1);
-moz-box-shadow: 22px 22px 0px -5px rgba(8,253,237,1);
box-shadow: 22px 22px 0px -5px rgba(8,253,237,1);
position: absolute;
bottom: 7px;
left: 0;
    }



    .postImageRight {
        -webkit-box-shadow: -22px 22px 0px -5px rgba(8,253,237,1);
-moz-box-shadow: -22px 22px 0px -5px rgba(8,253,237,1);
box-shadow: -22px 22px 0px -5px rgba(8,253,237,1);
position: absolute;
    top: -21px;
    left: 202px;
    z-index: 4;
}

    .postImageRightHolder {
width: 50%;        
order: 4;
position: relative;
    }

    .post1 {
        order: 2;
    }
    .post2 {
        order: 3;
    }
}

section.middlePost {
        background: #03697c;
        padding: 10% 0;
        .middlePostText {
            text-align: center;
        }
}

section.fullWidthBanner { 
       background: #03697c;
       background-image: url("../assets/banner.jpg");
       width: 100%;
       height: 45vh;
       object-fit: fill;

    }

    section.bottomPosts {
            background: #03697c;
            padding: 10% 0;
           

            .wrapperBottom{
                display: flex;
            }
            
            .bottomPostImage {
                width: 40%;

            }
.bottomPostText {
    width: 40%;
}

    }

    section.gallery {
        background:  rgb(69, 73, 179);
        padding: 5% 0;
        

        .galleryBox {
            display: flex;
            justify-content: space-around;

            img {
                width: 30%;
        }
    }
}

    footer {
        background: #044779;
        text-align: center;
        width: 100%;
        color:white;

    }
    
    // contact page

header .contactHero {
    border: 1px solid red;
    background-image: url("../assets/contact-header.jpg");
    height: 80vh;
   width: 100%;
}



.wrapperHero {
display: flex;
width: 100%;
position: relative;

   h2 {
       width: 50%;
       flex-shrink: 1;
       align-self: flex-end;
       margin-top: 10%;
margin-left: 10%;
   }

    .hero {
        width: 50%;
        flex-grow: 1;
position: absolute;
right: -74px;
top: 26px;
    }
}

// form styling
.contactBody {
    background: #03697c;
}

.contactWrapper {
    display: flex;
    justify-content: space-between;

}

main.contactMain {
position: relative;
width: 60%;
order: 2;
height: 50vh;


form.contactForm {
    display: flex;
    flex-direction: column;
    background: #474bb5;
    -webkit-box-shadow: 21px 29px 0px 3px rgba(8, 253, 237, 1);
    -moz-box-shadow: 21px 29px 0px 3px rgba(8, 253, 237, 1);
    box-shadow: 21px 29px 0px 3px rgba(8, 253, 237, 1);
position: absolute;
bottom: 141px;
right: 0;
    .commentSubmit {
        width: 100%;
        #comment {
            width: 100%;
        }
        .submit {
            width: 100%;
        }
    }
}

}

aside.contactAside {
    color: white;
order: 1;
    

    .contactWrapper.socialMedia {
        display: flex;
flex-direction: row;
.icon {
    width: 25%;
}
    }

}


// blog styles

header .blogHero {
    border: 1px solid red;
    background-image: url("../assets/blog-header.jpg");
    height: 80vh;
    width: 100%;
}



.blogHeroWrapper {
    display: flex;
    width: 100%;
    position: relative;

    h2 {
        width: 50%;
        flex-shrink: 1;
        align-self: flex-end;
        margin-top: 10%;
        margin-left: 10%;
    }

    .hero {
        width: 50%;
        flex-grow: 1;
        position: absolute;
        right: -74px;
        top: 26px;
    }
}


