

.wrapper {
    width: 80%;
}

nav {
    ul {
        display: flex;
        li {
                justify-content: space-around;
                list-style: none;
                display: inline-block;
                padding-left: 5%;
                

            a {
                color: white;
                text-decoration: none;
            }
        }
    
    }

}

h1 {
font-family: 'Walter Turncoat',
cursive;
z-index: 30;
color: white;

}

header {
    height: 100vh;
    background: #03697c;
    z-index: 10;
}

.backgroundHero {
    background-image: url("../assets/home-header.jpg");
    height: 70vh;
    z-index: 20;
}

.hero {
    z-index: 30;
}