
// global
.wrapper {
    width: 80%;
}

h1 {
    font-family: 'Walter Turncoat',
        cursive;
    z-index: 30;
    color: white;
    font-size: 8rem;
}

h2 {
    font-family: 'Walter Turncoat',
    cursive;
    z-index: 30;
    color: white;
    font-size: 6rem;
}

h3 {
    font-family: 'Walter Turncoat',
    cursive;
    z-index: 30;
    color: white;
    font-size: 4rem;
}

h4 {
    font-family: 'Walter Turncoat',
    cursive;
    z-index: 30;
    color: white;
    font-size: 3rem;
}





// header
nav {
    font-family: 'Roboto',
    sans-serif;
    font-size: 1rem;
    ul {
        display: flex;
        li {
                justify-content: space-around;
                list-style: none;
                display: inline-block;
                padding-left: 5%;
                

            a {
                color: white;
                text-decoration: none;
            }
        }
    
    }

}



header {
    height: 100vh;
    background: #03697c;
    z-index: 10;
}

header .backgroundHero {
    background-image: url("../assets/home-header.jpg");
    height: 70vh;
    z-index: 800;
    display: flex;
}

.hero {
    z-index: 30;
}