@media(max-width: 1000px)
{
section.bottomPosts .wrapperBottom {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;

    .bottomPostImage {
        width: auto;
    }
}

}




@media(max-width: 929px)
{




    section.headings .topPosts {

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        align-items: center;
.headingPost {
    margin-top: 5%;
}
    }

.posts {

    background: #474bb5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10% 0;
    flex-direction: column;
    align-items: center;
.postImageRight , .postImageLeft {
position: relative;
top: 0;
left: 0;
max-width: 100%;
}

    .postImageRightHolder {
margin-top: 5%;
        order: 3;



    }
}


}


@media(max-width:741px){
    section.gallery .galleryBox {

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;

        img {
            width: 100%;
        }
    }
}

@media (max-width: 576px){
    section.bottomPosts .bottomPostText p {

        margin-bottom: 10%;

    }
}